{{ define "main" }}
  <main role="main" id="main">
    <h1>{{ partial "title.html" . }}</h1>
    <ul class="patterns-list">
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <div class="patterns-listitem-wrapper">
          <a href="{{ .Permalink }}">
            <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
              <use xlink:href="#bookmark"></use>
            </svg>
            {{ .Title }}
	  </a><br />
	  ({{ .PublishDate.Format $dateFormat }})
        </div>
      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
